@model Backend5.Models.ViewModels.ProstoBDEditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>ProstoBD</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<input type="hidden" asp-for="Id" />*@
            <div class="form-group">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Created" class="control-label"></label>
                <input asp-for="Created" class="form-control" />
                <span asp-validation-for="Created" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <select input asp-for="Text" class="form-control">
                    <option>Красный</option>
                    <option>Оранжевый</option>
                    <option>Желтый</option>
                    <option>Зеленый</option>
                    <option>Голубой</option>
                    <option>Синий</option>
                    <option>Фиолетовый</option>
                </select>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
